obj
bin
_ReSharper.*
*.csproj.user
*.resharper.user
*.suo
*.cache
*.swp
*.dotCover
*.vcxproj.user
*.sdf
*.opensdf
*.DotSettings.user
OADSI.exe.config
STS/build
*.ncrunchsolution
*.ncrunchproject
*.ncrunchsolution.user
*.orig
